// color background
$bg-color: #020202;

// color do li do menu
$bg-color-nav-li: #e16b15;

//  colocar um color para faixada do header
$bg-color-nav: #BE621E;

// orange #e16b15;  black #0c0a0abe;

// color da fonte padrao
$color-text-padrao: #ffff;

// cor do titulo OASIS
$color-title-oasis: #e76d15;

